@font-face {
  font-family: SoraExtraBold;
  src: url("../assets/fonts/Sora-ExtraBold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: SoraBold;
  src: url("../assets/fonts/Sora-Bold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: SoraRegular;
  src: url("../assets/fonts/Sora-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: SoraLight;
  src: url("../assets/fonts/Sora-Light.ttf") format("truetype");
  font-display: swap;
}
