@use "/src/styles/breakpoints" as *;

.mainContainer {
  background-color: var(--color-balck);
}
.mapContainer {
  max-width: 400px;
}
.contentBox {
  &__textBox {
    min-height: 200px;
  }
  &__title {
    max-width: 800px;
    color: var(--color-tealBlue-500);
    mix-blend-mode: exclusion;
    font-size: clamp(1.675rem, 5vw, 80px);
    text-shadow: 0 0 7px var(--color-bloodyRed-500),
      0 0 10px var(--color-bloodyRed-500), 0 0 21px var(--color-bloodyRed-500);
    @include breakpoint("lg") {
      min-height: 270px;
    }
  }
  &__subTtitle {
    color: var(--color-tealBlue-500);
    text-shadow: 0 0 7px var(--color-bloodyRed-500),
      0 0 10px var(--color-bloodyRed-500), 0 0 21px var(--color-bloodyRed-500);
    mix-blend-mode: exclusion;
  }
}
.profilePic {
  z-index: 1;
  width: 100px;
  height: 100px;
  background-image: url("../../../assets/home/my-pic.webp");
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  top: 10%;
  left: 10%;
  border: 3px solid var(--color-bloodyRed-500);
}
